stages:
  - diagnostics
  - testing

services:
  - docker:18.06.1-ce-dind

image:
  name: docker/compose:1.23.2
  entrypoint: [""]

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2

sanity-check:
  stage: diagnostics
  script:
    - docker info
    - docker version
    - docker-compose version

php-7.1:
  stage: testing
  script:
    - docker-compose up -d php-7.1
    - docker-compose exec -T php-7.1 sh -c "composer install"
    - docker-compose exec -T php-7.1 sh -c "php -dzend_extension=/usr/lib/php/xdebug.so -dzend.assertions=1 -dassert.exception=1 /usr/local/bin/phpunit --testdox"

php-7.2:
  stage: testing
  script:
    - docker-compose up -d php-7.2
    - docker-compose exec -T php-7.2 sh -c "composer install"
    - docker-compose exec -T php-7.2 sh -c "php -dextension=/usr/lib/php/pcov.so -dzend.assertions=1 -dassert.exception=1 /usr/local/bin/phpunit --testdox"

php-7.3:
  stage: testing
  script:
    - docker-compose up -d php-7.3
    - docker-compose exec -T php-7.3 sh -c "composer install"
    - docker-compose exec -T php-7.3 sh -c "php -dextension=/usr/lib/php/pcov.so -dzend.assertions=1 -dassert.exception=1 /usr/local/bin/phpunit --testdox"
