version: "3"
services:
  hoverfly:
    image: spectolabs/hoverfly:v1.1.1
    command: -capture

  sleepy:
    image: 1maa/sleepy:latest

  php-7.1:
    image: 1maa/php-dev:7.1
    depends_on:
      - hoverfly
      - sleepy
    volumes:
      - .:/root/hydra
    working_dir: /root/hydra

  php-7.2:
    image: 1maa/php-dev:7.2
    depends_on:
      - hoverfly
      - sleepy
    volumes:
      - .:/root/hydra
    working_dir: /root/hydra

  php-7.3:
    image: 1maa/php-dev:7.3
    depends_on:
      - hoverfly
      - sleepy
    volumes:
      - .:/root/hydra
    working_dir: /root/hydra

  php-7.4:
    image: 1maa/php-dev:7.4
    depends_on:
      - hoverfly
      - sleepy
    volumes:
      - .:/root/hydra
    working_dir: /root/hydra
